<launch>
  <master auto="start"/>
  <param name="/use_sim_time" value="false"/>

  <!-- Args-->
  <arg name="use_kinect" default="true" />
  <arg name="debug" default="false" />

  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />

  <!-- Bring up the AR Marker tracking node-->
  <group if="$(arg use_kinect)">
    <include file="$(find ar_track_alvar)/launch/pr2_indiv.launch"/>
  </group>
  <include file="$(find ar_track_alvar)/launch/pr2_indiv_no_kinect.launch" unless="$(arg use_kinect)"/>

  <!--Bring up th kinematics node for ltm_simple_arm_control-->
  <include file="$(find pr2_arm_kinematics)/launch/pr2_ik_rarm_node.launch"/>

  <!--Bring up the ltm_ros node-->
  <node pkg="ltm_ros" type="ltm_ros_node" name="ltm_ros" output="screen" launch-prefix="$(arg launch_prefix)" respawn="false">
    <param name="obs_file" value="$(find ltm_ros)/data/observations.txt"/> 
    <param name="bag_file" value="$(find ltm_ros)/data/observations.bag"/> 
    <param name="use_model_file" value="false"/>
    <!--<param name="fprims_file" value="$(find ltm)/matlab/fprims/circle_40.fprim"/>-->
    <param name="fprims_file" value="$(find ltm)/matlab/fprims/sphere_20.fprim"/>
    <param name="sim_time_step" value="0.4"/> <!--0.2-->
    <param name="reference_frame" value="/base_link"/>
    <param name="full_trajectory_execution" value="false"/>
    <param name="num_partial_traj_waypoints" value="4"/>
  </node>

  <node pkg="tf" type="static_transform_publisher" name="map_broadcaster" args="0 0 0 0 0 0 1 /base_link /map 1000" />

  <!--
  <node pkg="ar_pose" type="ar_multi" name="ar_multi">
    <remap from="/camera/image_raw" to="/narrow_stereo_left/image_rect"/>
    <remap from="/camera/camera_info" to="/narrow_stero_left/camera_info"/>
    <param name="marker_patter_list" value="$(find ar_pose)/data/object_4x4"/>
    <param name="threshold" value="100"/>
    <param name="publish_visual_markers" value="true"/>
    <param name="publish_tf" value="true"/>
  </node>
  -->

</launch>
